<div>
	<h1>{{ "Código libre" | translate }}</h1>
	<div>{{ "En mi tiempo libre y cuando no tengo empleo, sigo desarrollando software por mi cuenta para la comunidad de Código Abierto." | translate }}</div>
	<div>{{ "Podrás encontrar mis proyectos de código abierto en:" | translate }}</div>
	<ul>
		<li>
			<a href="https://github.com/allnulled">
				<img src="resources/github-icon.jpg" style="max-height: 50px; margin-top: 10px; border-radius: 5pt; border: 1px solid #F0F0F0;" />
			</a>
		</li>
		<li>
			<a href="https://www.npmjs.com/~allnulled">
				<img src="resources/npm-icon.jpeg" style="max-height: 50px; margin-top: 10px; border-radius: 5pt; border: 1px solid #F0F0F0;" />
			</a>
		</li>
	</ul>
</div>