<div class="contact-page">
	<h1>{{ "Contacto" | translate }}</h1>
	<div>
		<div>{{ "Puedes contactar conmigo por:" | translate }}</div>
		<table style="margin-bottom: 20px;">
			<tr>
				<td>
					<a class="card" href="mailto:carlosjimenohernandez@gmail.com">
						<div class="card-body">
							<img class="contact-icon" src="resources/mail-icon.jpg" />
							<span style="font-size: 10px;">carlosjimenohernandez@gmail.com</span>
						</div>
					</a>
				</td>
			</tr>
			<tr>
				<td>
					<a class="card" href="tel:0034619982622">
						<div class="card-body">
							<img class="contact-icon" src="resources/whatsapp-icon.png" />
							<span style="font-size: 10px;">+34 619 982 622</span>
						</div>
					</a>
				</td>
			</tr>
			<tr>
				<td>
					<a class="card" href="tel:0034619982622">
						<div class="card-body">
							<img class="contact-icon" src="resources/telephone-icon.png" />
							<span style="font-size: 10px;">+34 619 982 622</span>
						</div>
					</a>
				</td>
			</tr>
		</table>
	</div>
</div>