<div>
	<h1>{{ "Objetivos" | translate }}</h1>
	<div class="goals-body">
		<div>{{ "Mis aspiraciones profesionales por orden de prioridad son:" | translate }}</div>
		<ol style="
		margin-left: 10px; 
		font-size: 13px; 
		margin-top: 10px; 
		padding-top: 10px; 
		border-top: 1px solid #E0E0E0;">
			<li>
				<div style="font-weight: bold;">{{ "Programación web fluída de cliente y servidor." | translate }}</div>
				<ul>
					<li><div style="">{{ "Node.js es mi elección de back-end." | translate }}</div></li>
					<li><div style="">{{ "React o Angular serían mi elección de front-end." | translate }}</div></li>
				</ul>
			</li>
			<li>
				<div style="font-weight: bold;">{{ "Testeo, documentación y cobertura suficientes y fluídos." | translate }}</div>
			</li>
			<li>
				<div style="font-weight: bold;">{{ "Conseguir trabajar desde casa como opción." | translate }}</div>
			</li>
			<li>
				<div style="font-weight: bold;">{{ "Ir mejorando el sueldo." | translate }}</div>
			</li>
			<li>
			<div style="font-weight: bold;">{{ "Otras prestaciones." | translate }}</div>
			</li>
		</ol>
	</div>
</div>